# Database 
DEV_DB_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
PROD_DB_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# JWT 
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# Redis sozlamalari
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# GPT Api key
OPENAI_API_KEY=sk-your_api_key_here


# SuperAdmin ma’lumotlari
SUPERADMIN_USERNAME=your_username
SUPERADMIN_PASSWORD=your_password
SUPERADMIN_PHONE_NUMBER=+9989xxxxxxx

# Server 
PORT=3000
APP_URL=
API_VERSION=